<h2>{{booksShowCtrl.book.title}}</h2>
<hr>
<div class="row">
	<!-- Here, add the display of the book info,
       the buttons for editing or deleting,
       the form and buttons that will show if you
       click edit. Don't forget that all of those
       buttons and forms will need some angular
       functionality! -->
<div class="col-md-10 col-md-offset-1">
 <div class="panel panel-default">
   <div class="panel-body">
     <div class='row'>
       <div class="col-md-3 col-xs-12 thumbnail">
         <img src=ng-src={{booksShowCtrl.book.image}} alt="book image">
       </div>
			 <li class="list-group-item">
				 <h4 class="inline-header">Author:</h4>
				 <span ng-hide="editing">{{booksShowCtrl.book.author}}</span>
				 <input ng-show="editing" ng-model="booksShowCtrl.book.author", type="text" class="form-control input-md">
			 </li>
			 <li class="list-group-item">
			 	 <h4 class='inline-header'>Release Date:</h4>
				 <span ng-hide="editing">{{booksShowCtrl.book.releaseDate}}</span>
				 <input ng-show="editing" ng-model="booksShowCtrl.book.releaseDate", type="text" class="form-control input-md">
			 </li>
			 <div class='panel-footer col-md-3'>
			 	 <button class='btn btn-danger' ng-click="booksIndexCtrl.deleteBook()">Delete Book</button>
				 <button class='btn btn-info' ng-hide="editing" ng-click="editing = true">Edit Book</button>
				 <button class='btn btn-success' ng-show="editing" ng-click="booksShowCtrl.editBook(); editing = false">Save Changes</button>
			 </div>
			</div>
		</div>
	</div>
</div>


<!--  _id: "57113b4f77bd841100ee8769",
title: "Around the World in 80 Days",
author: "Jules Verne",
image: "https://cloud.githubusercontent.com/assets/7833470/10892118/865bee3e-8156-11e5-9634-cd7bcd3d6d4f.jpg",
releaseDate: "January 30, 1873",-->

</div>
